/* .emoji-wrapper {
  position: relative;
} */

.emoji-picker {
  background: #fff;
  display: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.emoji-container {
  width: 290px;
  position: absolute;
  bottom: calc(123% + 5px);
  transform: translateX(-40%);
}

.tabs-content {
  padding: 6px 0;
  margin: 0;
  height: 150px;
  list-style: none;
  display: none;
  flex-wrap: wrap;
  gap: 10px 5px;
  overflow: auto;
}

.tabs-content::-webkit-scrollbar {
  width: 6px;
}

.tabs-content::-webkit-scrollbar-track {
  background: transparent;
}

.tabs-content::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.tabs-content::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.tabs-content li {
  flex: 0 0 calc(16.666% - 5px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.tabs-content li img {
  width: 30px;
}

.tabs-content[value="smileys_emotion"] {
  display: flex;
}

.tabs-list-trigger {
  padding: 6px 0;
  display: flex;
  margin: 0;
}

.tabs-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.tabs-trigger[data-state="active"] {
  background-color: #aeb3be;
}

.emoji-button {
  cursor: pointer;
  width: fit-content;
}

.emoji-button:hover .emoji-button-tooltip {
  opacity: 1;
}

/* .emoji-button-tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 3px 5px;
  bottom: calc(123% + 5px);
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
} */

.emoji-button-svg {
  border-radius: 50%;
  background-color: lightcoral;
}

.emoji-click-animation {
  position: absolute;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
